/* globals.css */
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Default (Light Mode) */
:root {
  --background: #F8F5E9;
  --foreground: #597E52;
  --accent: #C6A969;
  --secondary-accent: #F1E4C3;
}

/* Custom themes */
[data-theme="light"] {
  --background: #F8F5E9;
  --foreground: #597E52;
  --accent: #C6A969;
  --secondary-accent: #F1E4C3;
}

[data-theme="dark"] {
  --background: #1D1616;
  --foreground: #D84040;
  --accent: #EEEEEE;
  --secondary-accent: #8E1616;
}

[data-theme="blue"] {
  --background: #001f3f;
  --foreground: #ffffff;
  --accent: #0074cc;
  --secondary-accent: #99c2ff;
}

[data-theme="sepia"] {
  --background: #f5e6cc;
  --foreground: #5b4636;
  --accent: #a67c52;
  --secondary-accent: #d4b996;
}


body {
  background: var(--background);
  color: var(--foreground);
  transition: all 0.3s ease-in-out;
}

button {
  background: var(--accent);
  color: var(--background);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  background: var(--foreground);
  color: var(--background);
  scale: 1.05;
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 15px; /* Width of the scrollbar */
}

/* Customize the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 5px; 
  transition: background-color 0.3s ease-in-out; /* Smooth transition for color */
}

::-webkit-scrollbar-thumb:hover {
  background-color: darkred; /* Darker red when hovered */
}